{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Register as Student</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Student <i class="fas fa-globe-americas"></i></h1>
            <p class="lead">In this form you can register you personal information</p>
        </div>
        <form>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" placeholder="Enter your First Name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name"  placeholder="Enter your Last Name">
                
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email"  placeholder="Enter email">
                
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age"  placeholder="Enter your age">
               
              </div>
            
              <button type="button" class="btn btn-dark">Submit</button>
          </form>
    </div>
</body>
</html>