{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{ form.media }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
        
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>{% block title %}{{username}} - Home  {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}">EnergyConservation</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if user.is_authenticated %}
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Rooms</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Actions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                  </li>

                  
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout/">Logout</a>
                  </li>
                  {% endif %}
              </div>
            </div>
          </nav>
          <div class="container">
            {% block pagecontent %}
            {% endblock %}
        </div>
    </body>
</html>
